@use "@/styles/vars" as *;


.register-form {
    max-width: 560px;
    width: 100%;
}
input,
textarea {
    font-family: $ff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid $black-color;
    background: #FFF;
    margin-bottom: 6px;
}

textarea {
    resize: none;
    height: 100px;
}

button[type='submit']  {
    width: 100%;
    padding: 10px 0;
    margin-top: 6px;
    border-radius: 20px;
    background: $pink-light-btn;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $ff-btn;
    &:hover {
        background: $pink-text-dark;
    }
}

@media (min-width: 768px) {
    input,
    textarea {
        margin-bottom: 20px;
        padding: 13px 22px;
    }
}